<div class="alert alert-primary" role="alert"><%= "Question : '#{@question}'" %> </div>
<div class="alert alert-light" role="alert"><%= "Answer : '#{@answer}'" %> </div>

<div class="d-grid gap-2 col-2 mx-auto">
  <%= link_to "New question here !", ask_path, class:"btn btn-primary"%>
</div>
