<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <form class="d-flex" role="search" action="/answer" data-turbo="false">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" type="text" name="question">
      <button class="btn btn-outline-success" value="Ask!" type="submit">Search</button>
    </form>
  </div>
</nav>
